<script>
    jQuery(document).ready(function ($) {
        var sliderWidth = $('body').width();
        var _SlideshowTransitions = [
        ];
        var options = {
          $AutoPlay: true,
          $Idle: 5000,
          $SlideDuration: 1000,
          $BulletNavigatorOptions: {
            $Class: $JssorBulletNavigator$,
            $ChanceToShow: 2
          },
          $SlideshowOptions: {
            $Class: $JssorSlideshowRunner$,
            $Transitions: _SlideshowTransitions,
            $TransitionsOrder: 1,
            $ShowLink: true
          }
        };
        var jssor_slider1 = new $JssorSlider$('slider', options);
        $('#slider, .slide').css('width',sliderWidth);
    });
</script>

<div id="slider-wrapper">

  <div id="slider" style="position: relative; height: 650px;">
    <div id="slider-content">
      {% include modules/booking_form.html %}
      {% include modules/teaser.html %}
    </div>
    <div class="slide" u="slides" style="cursor: move; position: absolute; overflow: hidden; left: 0px; top: 0px; width: 1200px; height: 650px;">

      {% for image in site.static_files %}{% if image.path contains 'img/slider' %}
      <div><img u="image" src="{{ site.baseurl }}{{ image.path }}" /></div>{% endif %}{% endfor %}
    </div>
  </div>
</div>
