<div id="booking_form">
  <div class="be-group">
    <span class="be-input">
      <input type="text" name="arrive" id="arrive" value="Ankunft">
    </span>
    <span class="be-input">
      <input type="text" name="depart" id="depart" value="Abreise">
    </span>
  </div>
  <div class="be-group">
    <span class="be-input">
      <select name="adults" value="Erwachsene">
        <option value="1">1 Erwachsener</option>
        <option value="2">2 Erwachsene</option>
        <option value="3">3 Erwachsene</option>
      </select>
    </span>
    <span class="be-input">
      <select type="select" name="children" value="Children">
        <option value="1">1 Kind</option>
        <option value="2">2 Kinder</option>
      </select>
    </span>
  </div>
  <div class="be-group">
    <span class="be-input">
      <button type="submit" id="submit">
        <i class="fa fa-icon-search"></i>Buchen
      </button>
    </span>
  </div>
</div>
